.center {
    text-align: center;
    align-items: center;
}
.left {
    text-align: left;
}
body {
    background-color: rgb(16, 16, 16);
}
p, h1, h2, h3, h4 {
    color: rgb(220, 220, 180);
    font-family: 'Lucida Console', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.big {
    font-size: 36pt;
    text-align: left;
}
.normal {
    font-size: 10pt;
    text-align: justify;
}
.grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 10%;
    row-gap: 5%;
    columns: 2;
}
.grid_img {
    width: 256px;
    height: 256px;
    /* border-radius: 100%; */
}
.big_img {
    width: 960px;
    height: 640px;
    border-radius: 100%;
}
.info {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 10%;
    row-gap: 5%;
    columns: 3;
}
.menu {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 10%;
    row-gap: 5%;
    columns: 3;
}
* {
    box-sizing: border-box;
}